<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="crmConfigurations" type="AWCRMDevTools.helper.CrmConfigurationSection,AWCRMDevTools" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <crmConfigurations>
    <Configurations>
      <Configuration>
        <ServerAddress>devcrm00</ServerAddress>
        <OrganizationName>DEVENV00</OrganizationName>
        <DiscoveryUri>http://devcrm00/DEVENV00/XRMServices/2011/Discovery.svc</DiscoveryUri>
        <OrganizationUri>http://devcrm00/DEVENV00/XRMServices/2011/Organization.svc</OrganizationUri>
        <HomeRealmUri />
        <Credentials>
          <UserName>awijaya</UserName>
          <Password>Standard1!</Password>
          <Domain>SYDAICD</Domain>
        </Credentials>
        <EndpointType>ActiveDirectory</EndpointType>
        <UserPrincipalName />
      </Configuration>
    </Configurations>
  </crmConfigurations>
</configuration>